# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries in Data Science
* List development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
 1. python
 2. R
 3. SQL

Some of the commonly used libraries used by Data Scientists include:
 * Pandas
 * Numpy
 * Matplotlib
 * Scikit-learn
 * TensorFlow
 * Pytorch

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200 / 60

3.3333333333333335

## Author

Jiyoon Shin